.form{

}

.input{
    width: 100%;
	min-height: 100px;
    border: 1px solid #D9D9D9;
    border-radius: 3px 3px 0 0;
	resize: vertical;
}

.button{
    border: none;
    padding: 17px 50px;
    background: #CC6633;
    border-radius: 0 0 3px 0;
    color: #fff;
    font-size: 14px;
}